@charset "UTf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: #ffffff;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
}